.single {
  .header {
    min-height: unset;
    height: 75vh;
    .heading-primary {
      color: $color-white;
      &--main::before {
        position: unset;
      }
    }
    .hero {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .down_arrow a{
      color: $color-white;
    }
  }
  .news-header {
    text-align: center;
    padding-bottom: 2rem;
  }
  .section-text {
    .button {
      margin: 1rem 0;
    }
    .heading-tertiary {
      padding: 2rem 0;
    }
  }
  .flex-container {
    padding: 3rem 0;
  }

}
