.single {
  .header {
    height: 50vh;
  }
  .news-header {
    text-align: center;
    padding-bottom: 2rem;
  }
  .section-text {
    .button {
      margin: 1rem 0;
    }
    .heading-tertiary {
      padding: 2rem 0;
    }
  }
}
